h1 {
    color: white;
    background-color: rebeccapurple;
    padding: 20px;
    border: 20px, solid, black;
    text-align: center;
}

p {
    font-size: large;
}

body {
    background-color: plum;
}