h1 {
    color: black;
    background-color: plum;
    padding: 20px;
    border-bottom: 5px, solid, rebeccapurple;
    border-right: 5px, solid, rebeccapurple;
    text-align: center;
}
body{
    background: red;
}